
.welcome {
    width: 100%;
}

.footer {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.navbar {
    margin-bottom: 0;
}

.panel-default > .panel-heading {
    background: #fff;
    border-bottom: .0635rem solid #888;
    border-radius: .3125rem;
    box-shadow: 0 .125rem 0 rgba(0,0,0,.3);
    margin: 0;
}

.panel-group .panel {
    margin-bottom: 15px;
}

.map {
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(51,170,162,.25)),color-stop(100%,rgba(18,149,229,.35)));
    background: -webkit-linear-gradient(left,rgba(51,170,162,.35) 0,rgba(18,149,229,.9) 25%);
    background: linear-gradient(to right,rgba(51,170,162,.35) 0,rgba(18,149,229,.9) 25%);
    padding-top: 40px;
    height: 600px;
}

.drop20 {
    background: url('/assets/images/map-bg.jpg') top/cover no-repeat;
    position: relative;
}

.panel-title,
.siteText {
    color: #1e1e1e;
    font-family: Lato,sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    margin: 5px 0;
    padding: 0 1.875rem 0 0;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

button.siteText:focus {
   outline: none;
}

.collapse.in {
    background: #f0eed8;
    color: #1e1e1e;
    border-radius: 0 0 .3125rem .3125rem;
}

.roboto {
    font-family: "Roboto Slab",serif;
    color: #f0eed8;
    text-shadow: 0 .225rem 0 rgba(0,0,0,.3);
    font-weight: 700;
    margin-top: 0;
}

.chooseCar {
    background: #fff url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid@1x.jpg) repeat left top;
    padding-top: 5.625rem;
    padding-bottom: 5rem;
}

.section-title {
    color: #1e1e1e;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0 .125rem 0 rgba(0,0,0,.3);
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
}

.section-title2 {
    color: #f0eed8;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0 .125rem 0 rgba(0,0,0,.3);
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
}

.bigBottom {
    margin-bottom: 40px;
}

.playfair {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    //text-align: center;
}

.carRadio {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;

}

.skyline {
    background: #175B9A url('/assets/images/skyline.png') bottom center no-repeat;
    height: 500px;
}



.step3top {
    margin-top: 60px;
}

.address {
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    margin-top: 25px;
}

.addrButton {
    background-color: transparent;
    padding: 13px;
    margin-left: 20px;
    color: #fff;
    font-size: 18px;
}

.uberHidden {
    visibility: hidden;
}

.uberVisible {
    visibility: visible;
}

.uberDetails {
    color: #f0eed8;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0 .125rem 0 rgba(0,0,0,.3);
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
}